appdirs==1.4.2
backports-abc==0.5
backports.ssl-match-hostname==3.5.0.1
certifi==2016.9.26
Django==1.8.8
django-filter==1.0.1
djangorestframework==3.5.4
Markdown==2.6.8
packaging==16.8
pyparsing==2.1.10
redis==2.10.5
singledispatch==3.4.0.3
six==1.10.0
tornado==4.4.2
tornado-redis==2.4.18
