{{ email }}

{{ verify_url }}

<html><head>
<base target="_blank">
<style type="text/css">
::-webkit-scrollbar{ display: none; }
</style>
<style id="cloudAttachStyle" type="text/css">
#divNeteaseBigAttach, #divNeteaseBigAttach_bak{display:none;}
</style>

</head>
<body tabindex="0" role="listitem">









<style type="text/css">
body{ margin:0 auto; padding:0; font-family:Microsoft Yahei,Tahoma,Arial; color:#333333;background-color:#fff; font-size:12px;}
a{color:#00a2ca; line-height:22px; text-decoration:none;}
a:hover{text-decoration:underline;color:#00a2ca;}
</style>


<table width="640" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff" style="font-family:'Microsoft YaHei';">
	<tbody><tr>
    	<td>
        	 <table width="800" border="0" align="center" cellpadding="0" cellspacing="0" height="40"></table>
        </td>
    </tr>

    <tr>
        <td>

            <table width="800" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#00a1cc" height="48" style="font-family:'Microsoft YaHei';">
              <tbody><tr>
                <td width="74" height="26" border="0" align="center" valign="middle" style="padding-left:20px;"><a href="http://www.aliyun.com/?&amp;utm_campaign=sys&amp;utm_medium=system&amp;utm_source=sys_email&amp;msctype=email&amp;mscareaid=cn&amp;mscmsgid=4720116072500687855&amp;v=q" target="_blank"><img src="http://gtms04.alicdn.com/tps/i4/T1CkCDFppcXXXLbgbn-74-26.png" alt="阿里云" width="74" height="26" border="0"></a></td>
                <td width="703" height="48" colspan="2" align="right" valign="middle" style="color:#ffffff; padding-right:20px;">
                     <a href="http://www.aliyun.com/?&amp;utm_campaign=sys&amp;utm_medium=system&amp;utm_source=sys_email&amp;msctype=email&amp;mscareaid=cn&amp;mscmsgid=4720116072500687855&amp;" target="_blank" style="color:#ffffff;text-decoration:none;font-family:'Microsoft YaHei';">首页</a>&nbsp;&nbsp;&nbsp;<span style="color:#1bc5ef;">|</span>&nbsp;&nbsp;
                    <a href="http://www.aliyun.com/product/ecs/?&amp;utm_campaign=sys&amp;utm_medium=system&amp;utm_source=sys_email&amp;msctype=email&amp;mscareaid=cn&amp;mscmsgid=4720116072500687855&amp;" target="_blank" style="color:#ffffff;text-decoration:none;font-family:'Microsoft YaHei';">产品服务</a>&nbsp;&nbsp;&nbsp;<span style="color:#1bc5ef;">|</span>&nbsp;&nbsp;
                    <a href="http://www.aliyun.com/act/webbaindex.html?&amp;utm_campaign=sys&amp;utm_medium=system&amp;utm_source=sys_email&amp;msctype=email&amp;mscareaid=cn&amp;mscmsgid=4720116072500687855&amp;" target="_blank" style="color:#ffffff;text-decoration:none;font-family:'Microsoft YaHei';">备案专区</a>&nbsp;&nbsp;&nbsp;<span style="color:#1bc5ef;">|</span>&nbsp;&nbsp;
                    <a href="http://home.console.aliyun.com/?&amp;utm_campaign=sys&amp;utm_medium=system&amp;utm_source=sys_email&amp;msctype=email&amp;mscareaid=cn&amp;mscmsgid=4720116072500687855&amp;" target="_blank" style="color:#ffffff;text-decoration:none;font-family:'Microsoft YaHei';">管理控制台</a>&nbsp;&nbsp;&nbsp;<span style="color:#1bc5ef;">|</span>&nbsp;&nbsp;
                    <a href="http://i.aliyun.com/?&amp;utm_campaign=sys&amp;utm_medium=system&amp;utm_source=sys_email&amp;msctype=email&amp;mscareaid=cn&amp;mscmsgid=4720116072500687855&amp;spm=5176.383338.201.51.1UNnoL" target="_blank" style="color:#ffffff;text-decoration:none;font-family:'Microsoft YaHei';">用户中心</a>&nbsp;&nbsp;&nbsp;<span style="color:#1bc5ef;">|</span>&nbsp;&nbsp;
                    <a href="http://help.aliyun.com/?&amp;utm_campaign=sys&amp;utm_medium=system&amp;utm_source=sys_email&amp;msctype=email&amp;mscareaid=cn&amp;mscmsgid=4720116072500687855&amp;" target="_blank" style="color:#ffffff;text-decoration:none;font-family:'Microsoft YaHei';">帮助中心</a>
                </td>
              </tr>
            </tbody></table>

        </td>
    </tr>

   <tr>
    	<td>

            <table width="800" border="0" align="left" cellpadding="0" cellspacing="0" style=" border:1px solid #edecec; border-top:none; border-bottom:none; padding:0 20px;font-size:14px;color:#333333;">
              <tbody><tr>
                <td width="760" height="56" border="0" align="left" colspan="2" style="font-family:'Microsoft YaHei'; font-size:16px;vertical-align:bottom;"><a href="mailto:尊敬的hi_youjiajia@163.com">尊敬的hi_youjiajia@163.com</a>：</td>
              </tr>
               <tr>
                <td width="760" height="30" border="0" align="left" colspan="2">&nbsp;</td>
              </tr>


			 <tr>
               <td width="40" height="32" border="0" align="left" valign="middle" style=" width:40px; text-align:left;vertical-align:middle; line-height:32px; float:left;"><img width="32" height="32" border="0" src="http://gtms02.alicdn.com/tps/i2/T1YoblFq4cXXa94Hfd-32-32.png"></td>
                <td width="720" height="32" border="0" align="left" valign="middle" style=" width:720px; text-align:left;vertical-align:middle;line-height:32px;font-family:'Microsoft YaHei';">
				请激活您的阿里云代备案系统账号
				</td>
              </tr>
              <tr>
				<td width="720" height="32" colspan="2" style="padding-left:40px;font-family:'Microsoft YaHei';">
				您已经在阿里云代备案系统申请注册，登录邮箱为：<a href="mailto:hi_youjiajia@163.com">hi_youjiajia@163.com</a>，为了确认您的电子邮件地址并激活您的帐号，请立即<a href="https://beian.gein.cn/account/accountActivation.htm?loginName=sP%2BowPMjxqHpdKO6JVMS0h8Sh3b0QZjF&amp;code=IwjoGqv2%2FB8VyfCUxNbE0A%3D%3D&amp;callback=http%253A%252F%252Fbeian.gein.cn%252Faccount%252Findex4aliyun">点击这里激活账户</a>。

				</td>
              </tr>

			 <tr>
              	<td width="720" height="32" colspan="2" style="padding-left:40px;">&nbsp;</td>
              </tr>

              <tr>
				<td width="720" height="32" colspan="2" style="padding-left:40px;font-family:'Microsoft YaHei';">
				如果以上链接不能打开，请将下面地址复制到您的浏览器(如IE)的地址栏，打开页面后同样可以完成帐户激活。（该链接在  12小时  内有效， 如超时请登录<a target="_blank" href="https://beian.gein.cn/account/login.htm?callback=http%3A%2F%2Faliyun.gein.cn">阿里云代备案系统</a>重新发送验证邮件）
				</td>
              </tr>

			   <tr>
              	<td width="720" height="32" colspan="2" style="padding-left:40px;">&nbsp;</td>
              </tr>

			   <tr>
				<td width="720" height="32" colspan="2" style="padding-left:40px;font-family:'Microsoft YaHei';">
				  <a style="color: #0088cc; text-decoration: underline;word-break: break-all;word-wrap: break-word;display: block;width: 640px;font-size:12px;" href="https://beian.gein.cn/account/accountActivation.htm?loginName=sP%2BowPMjxqHpdKO6JVMS0h8Sh3b0QZjF&amp;code=IwjoGqv2%2FB8VyfCUxNbE0A%3D%3D&amp;callback=http%253A%252F%252Fbeian.gein.cn%252Faccount%252Findex4aliyun">
                                       https://beian.gein.cn/account/accountActivation.htm?loginName=sP%2BowPMjxqHpdKO6JVMS0h8Sh3b0QZjF&amp;code=IwjoGqv2%2FB8VyfCUxNbE0A%3D%3D&amp;callback=http%253A%252F%252Fbeian.gein.cn%252Faccount%252Findex4aliyun
                                    </a>
				</td>
              </tr>

			   <tr>
              	<td width="720" height="32" colspan="2" style="padding-left:40px;">&nbsp;</td>
              </tr>
			   <tr>
				<td width="720" height="32" colspan="2" style="padding-left:40px;font-family:'Microsoft YaHei';">
				<a href="http://help.aliyun.com/guide?&amp;utm_campaign=sys&amp;utm_medium=system&amp;utm_source=sys_email&amp;msctype=email&amp;mscareaid=cn&amp;mscmsgid=4720116072500687855&amp;spm=5176.386621.1.17.LJfnfF&amp;helpId=875">为什么我会收到这封邮件？</a>
				</td>
              </tr>
			   <tr>
				<td width="720" height="32" colspan="2" style="padding-left:40px;font-family:'Microsoft YaHei';">
				您在注册阿里云代备案系统时，填写了此电子邮箱作为账户名，我们发送这封邮件，以确认您是邮箱的主人。
				</td>
              </tr>

		      <tr>
				<td width="720" height="32" colspan="2" style="padding-left:40px;font-family:'Microsoft YaHei';">
				如果您没有注册阿里云代备案系统，请忽略此邮件。
				</td>
              </tr>

              </tbody></table></td></tr>
			   <tr>
			   <td width="720" height="32" colspan="2" style="padding-left:40px;font-family:'Microsoft YaHei';"><font color="red">新手大礼包，</font><a target="_blank" href="https://promotion.aliyun.com/ntms/act/newbaby.html?&amp;utm_campaign=sys&amp;utm_medium=system&amp;utm_source=sys_email&amp;msctype=email&amp;mscareaid=cn&amp;mscmsgid=4720116072500687855&amp;">注册即可领取丰厚代金券</a>
				</td>
              </tr>


			   <tr>
              	<td width="720" height="32" colspan="2" style="padding-left:40px;">&nbsp;</td>
              </tr>
			   <tr>
			   <td width="720" height="32" colspan="2" style="padding-left:40px;font-family:'Microsoft YaHei';">
					更多备案问题<a target="_blank" href="http://www.aliyun.com/act/webbaindex.html?&amp;utm_campaign=sys&amp;utm_medium=system&amp;utm_source=sys_email&amp;msctype=email&amp;mscareaid=cn&amp;mscmsgid=4720116072500687855&amp;">请查看备案帮助</a>
				</td>
              </tr>


               <tr>
              	<td width="720" height="32" colspan="2" style="padding-left:40px;">&nbsp;</td>
              </tr>
               <tr>
              	<td width="720" height="32" colspan="2" style="padding-left:40px;">&nbsp;</td>

              </tr>

               <tr>
              	<td width="720" height="14" colspan="2" style="padding-bottom:16px; border-bottom:1px dashed #e5e5e5;font-family:'Microsoft YaHei';">阿里云计算有限公司</td>
              </tr>
               <tr>
              	<td width="720" height="14" colspan="2" style="padding:8px 0 28px;color:#999999; font-size:12px;font-family:'Microsoft YaHei';">此为系统邮件请勿回复</td>
              </tr>
            </tbody></table>






        	 <table width="800" height="100" border="0" align="center" cellpadding="0" cellspacing="0">
             <tbody><tr>
             	<td width="800" height="100" align="center" valign="middle"><img border="0" height="100" src="http://gtms04.alicdn.com/tps/i4/TB1LLiJJXXXXXbJXpXXySXK_VXX-800-100.png"></td>
             </tr>
             </tbody></table>




<img src="http://ac.mmstat.com/aliyun.12.1?logtype=4&amp;type=email&amp;msgid=4720116072500687855&amp;areaid=cn">


<style type="text/css">
body{font-size:14px;font-family:arial,verdana,sans-serif;line-height:1.666;padding:0;margin:0;overflow:auto;white-space:normal;word-wrap:break-word;min-height:100px}
td, input, button, select, body{font-family:Helvetica, 'Microsoft Yahei', verdana}
pre {white-space:pre-wrap;white-space:-moz-pre-wrap;white-space:-pre-wrap;white-space:-o-pre-wrap;word-wrap:break-word;width:95%}
th,td{font-family:arial,verdana,sans-serif;line-height:1.666}
img{ border:0}
header,footer,section,aside,article,nav,hgroup,figure,figcaption{display:block}
</style>

<style id="ntes_link_color" type="text/css">a,td a{color:#1D6CA3}</style>

</body></html>